<% const { folders, files, currentFolder, breadcrumb } = content %>

<div class="max-w-4xl mx-auto p-6">
  <!-- TOP BAR -->
  <div class="flex items-center justify-between mb-6">
    <!-- Breadcrumb -->
    <nav class="text-gray-700 text-sm font-mono">
      / <% breadcrumb.forEach((b, idx) => { %>
      <a
        href="/folders/<%= b.id || '' %>"
        class="hover:text-blue-600 hover:underline"
      >
        <%= b.name %>
      </a>
      <% if (idx < breadcrumb.length - 1) { %>
      <span class="mx-1 text-gray-500">/</span>
      <% } %> <% }) %>
    </nav>

    <!-- ACTION BUTTONS -->
    <div class="flex gap-3">
      <!-- Add File -->
      <button
        onclick="openModal('modal-upload')"
        id="btn-open-upload"
        class="cursor-pointer font-semibold border border-gray-400 hover:border-green-600 bg-green-50 hover:bg-green-100 hover:text-green-600 rounded px-4 py-1"
      >
        + Upload File
      </button>

      <!-- Add Folder -->
      <button
        onclick="openModal('modal-folder')"
        id="btn-open-folder"
        class="cursor-pointer font-semibold border border-gray-400 hover:border-blue-600 bg-blue-50 hover:bg-blue-100 hover:text-blue-600 rounded px-4 py-1"
      >
        New Folder
      </button>
    </div>
  </div>

  <!-- BACK BUTTON (only when inside folder) -->
  <% if (currentFolder) { %>
  <div
    class="flex justify-between items-center border border-gray-200 bg-gray-100 px-4 py-3 rounded-md shadow mb-4"
  >
    <a
      href="/folders/<%= currentFolder.parentId || '' %>"
      class="font-semibold text-lg text-gray-700 hover:underline flex gap-2 align-middle"
    >
      <%- include('./partials/icons/return.ejs') %>
      <span>Return</span>
    </a>
  </div>
  <% } %>

  <!-- Folder + File List -->
  <div>
    <!-- FOLDERS -->
    <% folders.forEach(folder => { %>
    <div
      class="folder-card flex justify-between items-center px-4 py-3 mb-2 rounded bg-white hover:bg-blue-50 hover:shadow"
      data-id="<%= folder.id %>"
      data-name="<%= folder.name %>"
      data-parent="<%= folder.parentId %>"
    >
      <a
        href="/folders/<%= folder.id %>"
        class="flex items-center gap-3 text-gray-800 font-medium"
      >
        <span class="text-2xl">
          <%- include('./partials/icons/folder') %>
        </span>
        <span class="hover:text-blue-600"><%= folder.name %></span>
      </a>

      <div class="flex gap-1">
        <button
          onclick="openFolderEditModal(event,'modal-folder-edit')"
          class="px-1 py-1 text-sm cursor-pointer"
        >
          <%- include('./partials/icons/edit') %>
        </button>

        <button
          onclick="openShareFolderModal(event, 'modal-folder-share')"
          class="px-1 py-1 text-sm cursor-pointer"
        >
          <%- include('./partials/icons/share') %>
        </button>

        <button
          onclick="openDeleteModal(event, 'modal-folder-delete')"
          class="px-1 py-1 text-sm cursor-pointer"
        >
          <%- include('./partials/icons/delete') %>
        </button>
      </div>
    </div>
    <% }) %>

    <!-- FILES -->
    <% files.forEach(file => { %>
    <div
      class="file-card flex justify-between items-center border-b-2 border-b-green-600 px-4 py-3 mb-2 hover:bg-green-50"
      data-id="<%= file.id %>"
      data-name="<%= file.nameWithoutExt %>"
      data-folder="<%= file.folderId %>"
    >
      <div
        class="flex items-center gap-3 text-gray-800 hover:cursor-pointer"
        onclick="openFileInfoModal(event, 'modal-file-info')"
      >
        <span class="text-2xl"> <%- include('./partials/icons/file') %> </span>
        <span class="hover:text-green-600"><%= file.nameWithoutExt %></span>
        <span class="border rounded text-xs py-0.5 px-1 bg-gray-50 shadow"
          ><%= file.mimeType %></span
        >
      </div>

      <div class="flex gap-1">
        <button
          onclick="openFileEditModal(event, 'modal-file-edit')"
          class="px-1 py-1 text-sm cursor-pointer"
        >
          <%- include('./partials/icons/edit') %>
        </button>

        <button
          onclick="openShareFileModal(event, 'modal-file-share')"
          class="px-1 py-1 text-sm cursor-pointer"
        >
          <%- include('./partials/icons/share')%>
        </button>

        <button
          onclick="openDeleteModal(event, 'modal-file-delete')"
          class="px-1 py-1 text-sm cursor-pointer"
        >
          <%- include('./partials/icons/delete') %>
        </button>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<!-- UPLOAD FILE MODAL -->
<div
  id="modal-upload"
  class="modal-card fixed inset-0 hidden bg-black/40 items-center justify-center"
  onclick="outsideClose(event, 'modal-upload')"
  style="z-index: 2"
>
  <div
    class="bg-white p-6 rounded-lg w-96 shadow-lg animate-popup"
    onclick="event.stopPropagation()"
  >
    <div class="modal-errors"></div>
    <h2 class="text-xl font-bold mb-4">Upload File</h2>

    <form
      id="modal-file-upload-form"
      enctype="multipart/form-data"
      data-folder="<%= currentFolder ? currentFolder.id : ''%>"
    >
      <!-- <input
        type="hidden"
        name="folderId"
        value="<%= currentFolder ? currentFolder.id  : ''  %>"
      /> -->

      <input
        type="file"
        name="file"
        required
        class="w-full text-sm text-gray-600 border rounded p-[2px] file:mr-3 file:py-1 file:px-3 file:border-0 file:rounded file:bg-blue-600 file:text-white file:cursor-pointer mb-2"
      />
      <div class="flex font-semibold gap-2">
        <button
          type="submit"
          class="bg-green-50 hover:bg-green-100 border border-gray-400 hover:border-green-600 px-4 py-1 rounded hover:text-green-600 cursor-pointer flex-1"
        >
          Upload
        </button>
        <button
          type="button"
          onclick="closeModal('modal-upload')"
          class="bg-red-50 hover:bg-red-100 border border-gray-400 hover:border-red-600 px-4 py-1 rounded hover:text-red-600 cursor-pointer flex-1"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<!-- NEW FOLDER MODAL -->
<div
  id="modal-folder"
  class="modal-card fixed inset-0 hidden bg-black/40 items-center justify-center"
  onclick="outsideClose(event, 'modal-folder')"
  style="z-index: 2"
>
  <div
    class="bg-white p-6 rounded-lg w-96 shadow-lg animate-popup"
    onclick="event.stopPropagation()"
  >
    <h2 class="text-xl font-bold mb-4">Create Folder</h2>

    <form action="/folders/create" method="POST">
      <input
        type="hidden"
        name="parentId"
        value="<%= currentFolder ? currentFolder.id  : '' %>"
      />

      <input
        type="text"
        name="name"
        placeholder="Folder name"
        required
        class="border py-1 px-4 w-full mb-2 rounded"
      />

      <div class="flex font-semibold gap-2">
        <button
          type="submit"
          class="bg-blue-50 hover:bg-blue-100 border border-gray-400 hover:border-blue-600 px-4 py-1 rounded hover:text-blue-600 cursor-pointer flex-1"
        >
          Create
        </button>
        <button
          type="button"
          onclick="closeModal('modal-folder')"
          class="bg-red-50 hover:bg-red-100 border border-gray-400 hover:border-red-600 px-4 py-1 rounded hover:text-red-600 cursor-pointer flex-1"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<!-- EDIT FOLDER MODAL -->
<div
  id="modal-folder-edit"
  class="modal-card fixed inset-0 hidden bg-black/40 items-center justify-center"
  onclick="outsideClose(event, 'modal-folder-edit')"
  style="z-index: 2"
>
  <div
    class="bg-white p-6 rounded-lg w-96 shadow-lg animate-popup"
    onclick="event.stopPropagation()"
  >
    <h2 class="text-xl font-bold mb-6">Edit Folder</h2>

    <form id="modal-folder-edit-form" class="space-y-2">
      <!-- <input
        type="hidden"
        name="parentId"
        value="<%= currentFolder ? currentFolder.id  : '' %>"
      /> -->

      <div class="relative folder-rename-field mb-6">
        <label for="name" class="absolute text-sm text-gray-600 left-1 -top-5"
          >Name</label
        >
        <input
          type="text"
          name="name"
          placeholder="Folder name"
          required
          class="border border-gray-500 py-1 px-4 w-full mb-2 rounded"
        />
      </div>

      <div class="relative folder-move-field">
        <label for="move" class="absolute text-sm text-gray-600 left-1 -top-5"
          >Move Folder</label
        >
        <select
          name="move"
          id="folder-move-select"
          class="border border-gray-500 py-1 px-4 w-full mb-2 rounded"
        ></select>
      </div>

      <div class="flex font-semibold gap-2">
        <button
          type="submit"
          class="bg-blue-50 hover:bg-blue-100 border border-gray-400 hover:border-blue-600 px-4 py-1 rounded hover:text-blue-600 cursor-pointer flex-1"
        >
          Edit
        </button>
        <button
          type="button"
          onclick="closeModal('modal-folder-edit')"
          class="bg-red-50 hover:bg-red-100 border border-gray-400 hover:border-red-600 px-4 py-1 rounded hover:text-red-600 cursor-pointer flex-1"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<!-- EDIT FILE MODAL -->
<div
  id="modal-file-edit"
  class="modal-card fixed inset-0 hidden bg-black/40 items-center justify-center"
  onclick="outsideClose(event, 'modal-file-edit')"
  style="z-index: 2"
>
  <div
    class="bg-white p-6 rounded-lg w-96 shadow-lg animate-popup"
    onclick="event.stopPropagation()"
  >
    <div class="modal-errors mb-4"></div>
    <h2 class="text-xl font-bold mb-6">Edit Folder</h2>

    <form id="modal-file-edit-form" class="space-y-2">
      <!-- <input
        type="hidden"
        name="parentId"
        value="<%= currentFolder ? currentFolder.id  : '' %>"
      /> -->

      <div class="relative file-rename-field mb-6">
        <label for="name" class="absolute text-sm text-gray-600 left-1 -top-5"
          >Name</label
        >
        <input
          type="text"
          name="name"
          placeholder="File name"
          required
          class="border border-gray-500 py-1 px-4 w-full mb-2 rounded"
        />
      </div>

      <div class="relative file-move-field">
        <label for="move" class="absolute text-sm text-gray-600 left-1 -top-5"
          >Move File</label
        >
        <select
          name="move"
          id="file-move-select"
          class="border border-gray-500 py-1 px-4 w-full mb-2 rounded"
        ></select>
      </div>

      <div class="flex font-semibold gap-2">
        <button
          type="submit"
          class="bg-blue-50 hover:bg-blue-100 border border-gray-400 hover:border-blue-600 px-4 py-1 rounded hover:text-blue-600 cursor-pointer flex-1"
        >
          Edit
        </button>
        <button
          type="button"
          onclick="closeModal('modal-file-edit')"
          class="bg-red-50 hover:bg-red-100 border border-gray-400 hover:border-red-600 px-4 py-1 rounded hover:text-red-600 cursor-pointer flex-1"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<!-- DELETE FOLDER MODAL -->
<div
  id="modal-folder-delete"
  class="modal-card fixed inset-0 hidden bg-black/40 items-center justify-center"
  onclick="outsideClose(event, 'modal-folder-delete')"
  style="z-index: 2"
>
  <div
    class="bg-white p-6 rounded-lg w-96 shadow-lg animate-popup"
    onclick="event.stopPropagation()"
  >
    <h2 class="text-xl font-bold mb-6 gap-2 flex align-middle justify-center">
      <%- include('./partials/icons/alert')%>
      <span class="font-semibold text-red-600">Are you sure?</span>
    </h2>
    <div class="flex mb-4 text-center">
      This will delete all subfolders and files inside this folder!
    </div>
    <div class="flex font-semibold gap-2">
      <button
        type="button"
        onclick="closeModal('modal-folder-delete')"
        class="bg-blue-50 hover:bg-blue-100 border border-gray-400 hover:border-blue-600 px-4 py-1 rounded hover:text-blue-600 cursor-pointer flex-1"
      >
        Cancel
      </button>
      <button
        type="button"
        onclick="submitDeleteFolder(event)"
        class="bg-red-50 hover:bg-red-100 border border-gray-400 hover:border-red-600 px-4 py-1 rounded hover:text-red-600 cursor-pointer flex-1"
      >
        Delete
      </button>
    </div>
  </div>
</div>

<!-- DELETE FILE MODAL -->
<div
  id="modal-file-delete"
  class="modal-card fixed inset-0 hidden bg-black/40 items-center justify-center"
  onclick="outsideClose(event, 'modal-file-delete')"
  style="z-index: 2"
>
  <div
    class="bg-white p-6 rounded-lg w-96 shadow-lg animate-popup"
    onclick="event.stopPropagation()"
  >
    <h2 class="text-xl font-bold mb-6 gap-2 flex align-middle justify-center">
      <%- include('./partials/icons/alert') %>
      <span class="font-semibold text-red-600">Are you sure?</span>
    </h2>
    <div class="flex mb-4 text-center">This action cannot be undone!</div>
    <div class="flex font-semibold gap-2">
      <button
        type="button"
        onclick="closeModal('modal-file-delete')"
        class="bg-blue-50 hover:bg-blue-100 border border-gray-400 hover:border-blue-600 px-4 py-1 rounded hover:text-blue-600 cursor-pointer flex-1"
      >
        Cancel
      </button>
      <button
        type="button"
        onclick="submitDeleteFile(event)"
        class="bg-red-50 hover:bg-red-100 border border-gray-400 hover:border-red-600 px-4 py-1 rounded hover:text-red-600 cursor-pointer flex-1"
      >
        Delete
      </button>
    </div>
  </div>
</div>

<!-- FILE INFO MODAL -->
<div
  id="modal-file-info"
  class="modal-card fixed hidden inset-0 bg-black/40 items-center justify-center"
  onclick="outsideClose(event, 'modal-file-info')"
>
  <div
    class="bg-white h-full p-6 w-1/2 min-w-xl fixed top-0 right-0 shadow-lg animate-popup"
    onclick="event.stopPropagation()"
  >
    <div class="modal-errors mb-4"></div>
    <h2
      class="file-card text-2xl font-bold flex gap-2 align-middle justify-between mb-6 border-b-2 border-b-black text-green-600"
    >
      <span>File Info</span>
      <div class="file-info-btns flex gap-1">
        <button
          onclick="openFileEditModal(event, 'modal-file-edit')"
          class="px-1 py-1 text-sm cursor-pointer"
        >
          <%- include('./partials/icons/edit') %>
        </button>

        <button
          onclick="openShareFileModal(event, 'modal-file-share')"
          class="px-1 py-1 text-sm cursor-pointer"
        >
          <%- include('./partials/icons/share') %>
        </button>

        <a class="download-link px-1 py-1 text-sm">
          <%- include('./partials/icons/download') %>
        </a>

        <button
          onclick="openDeleteModal(event, 'modal-file-delete')"
          class="px-1 py-1 text-sm cursor-pointer"
        >
          <%- include('./partials/icons/delete') %>
        </button>
      </div>
    </h2>
    <div class="space-y-2">
      <div class="flex gap-2">
        <span class="font-semibold text-green-600">Name:</span>
        <span id="file-info-name" class="whitespace-normal text-wrap"
          >whatever</span
        >
      </div>
      <div class="flex gap-2">
        <span class="font-semibold text-green-600">Size:</span>
        <span id="file-info-size">very big</span>
      </div>
      <div class="flex gap-2">
        <span class="font-semibold text-green-600">Mime Type:</span>
        <span id="file-info-mime">giphy-flify</span>
      </div>
      <div class="flex gap-2">
        <span class="font-semibold text-green-600">Created At:</span>
        <span id="file-info-created">Long Ago...</span>
      </div>
      <div class="flex gap-2">
        <span class="font-semibold text-green-600">Updated At:</span>
        <span id="file-info-updated">that too long ago</span>
      </div>
      <div class="flex gap-2">
        <span class="font-semibold text-green-600">Sharelink:</span>
        <span id="file-info-share" class="break-all">
          option available at premium subscription just at $1000
        </span>
      </div>
    </div>
  </div>
</div>

<!-- FOLDER SHARE MODAL -->
<div
  id="modal-folder-share"
  class="modal-card fixed hidden inset-0 bg-black/40 items-center justify-center z-10"
  onclick="outsideClose(event, 'modal-folder-share')"
>
  <div class="bg-white p-6 w-96 rounded-lg shadow-lg animate-popup space-y-12">
    <div class="modal-errors mb-4"></div>
    <h2 class="text-xl font-bold mb-8">Share Folder</h2>
    <div class="folder-share-field relative">
      <div class="absolute -top-5 left-0 text-sm text-gray-600">Link:</div>
      <div
        class="folder-share-box w-full break-all whitespace-normal overflow-hidden px-4 py-1 rounded border border-gray-600"
      >
        random link
      </div>
    </div>
    <div class="folder-share-field relative">
      <div class="absolute -top-5 left-0 text-sm text-gray-600">Expire on:</div>
      <div
        class="folder-expire-box w-full break-all whitespace-normal overflow-hidden px-4 py-1 rounded border border-gray-600"
      >
        random date
      </div>
    </div>
    <form id="modal-folder-share-form" class="space-y-6">
      <div class="folder-share-time relative">
        <label
          for="share-time"
          class="absolute left-0 -top-5 text-sm text-gray-600"
          >Expire in (days):</label
        >
        <input
          type="number"
          min="1"
          max="10"
          name="shareTime"
          placeholder="1"
          required
          id="folder-share-input"
          class="bg-white border rounded pl-4 py-1 w-full text-black"
        />
      </div>
      <div class="flex font-semibold gap-2">
        <button
          type="submit"
          id="share-submit-btn"
          class="bg-blue-50 hover:bg-blue-100 border border-gray-400 hover:border-blue-600 px-4 py-1 rounded hover:text-blue-600 cursor-pointer flex-1"
        >
          Create
        </button>
        <button
          type="button"
          onclick="closeModal('modal-folder-share')"
          class="bg-red-50 hover:bg-red-100 border border-gray-400 hover:border-red-600 px-4 py-1 rounded hover:text-red-600 cursor-pointer flex-1"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<!-- FILE SHARE MODAL -->
<div
  id="modal-file-share"
  class="modal-card fixed hidden inset-0 bg-black/40 items-center justify-center z-10"
  onclick="outsideClose(event, 'modal-file-share')"
>
  <div class="bg-white p-6 w-96 rounded-lg shadow-lg animate-popup space-y-12">
    <div class="modal-errors mb-4"></div>
    <h2 class="text-xl font-bold mb-8">Share File</h2>
    <div class="file-share-field relative">
      <div class="absolute -top-5 left-0 text-sm text-gray-600">Link:</div>
      <div
        class="file-share-box w-full break-all whitespace-normal overflow-hidden px-4 py-1 rounded border border-gray-600"
      >
        random link
      </div>
    </div>
    <div class="file-share-field relative">
      <div class="absolute -top-5 left-0 text-sm text-gray-600">Expire on:</div>
      <div
        class="file-expire-box w-full break-all whitespace-normal overflow-hidden px-4 py-1 rounded border border-gray-600"
      >
        random date
      </div>
    </div>
    <form id="modal-file-share-form" class="space-y-6">
      <div class="file-share-time relative">
        <label
          for="share-time"
          class="absolute left-0 -top-5 text-sm text-gray-600"
          >Expire in (days):</label
        >
        <input
          type="number"
          min="1"
          max="10"
          name="shareTime"
          placeholder="1"
          required
          id="file-share-input"
          class="bg-white border rounded pl-4 py-1 w-full text-black"
        />
      </div>
      <div class="flex font-semibold gap-2">
        <button
          type="submit"
          id="share-submit-btn"
          class="bg-blue-50 hover:bg-blue-100 border border-gray-400 hover:border-blue-600 px-4 py-1 rounded hover:text-blue-600 cursor-pointer flex-1"
        >
          Create
        </button>
        <button
          type="button"
          onclick="closeModal('modal-file-share')"
          class="bg-red-50 hover:bg-red-100 border border-gray-400 hover:border-red-600 px-4 py-1 rounded hover:text-red-600 cursor-pointer flex-1"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  document
    .getElementById("modal-file-upload-form")
    .addEventListener("submit", submitUploadFile);

  document
    .getElementById("modal-folder-edit-form")
    .addEventListener("submit", submitEditFolder);

  document
    .getElementById("modal-file-edit-form")
    .addEventListener("submit", submitEditFile);

  document
    .getElementById("modal-file-share-form")
    .addEventListener("submit", submitShareFile);

  document
    .getElementById("modal-folder-share-form")
    .addEventListener("submit", submitShareFolder);

  function bytesToMb(bytes) {
    if (typeof bytes !== "number" || isNaN(bytes) || bytes < 0) {
      return "0 MB";
    }

    const megabytes = bytes / (1024 * 1024);

    return `${parseFloat(megabytes.toFixed(2))} MB`;
  }

  function dateToString(dateString) {
    console.log("date: ", dateString, typeof dateString);

    const date = new Date(dateString);

    return date.toUTCString();
  }

  function showModalErrors(modalId, errors) {
    const modal = document.getElementById(modalId);
    const errorBox = modal.querySelector(".modal-errors");

    if (!errorBox) return;

    errorBox.innerHTML = errors
      .map(
        (err) => `<div class="error-text text-sm text-red-600"> > ${err}</div>`
      )
      .join("");
  }

  function openModal(id) {
    const modal = document.getElementById(id);
    modal.classList.remove("hidden");
    modal.classList.add("flex");
    modal.querySelector("div").classList.remove("animate-popdown");
    modal.querySelector("div").classList.add("animate-popup");
  }

  function closeModal(id) {
    const modal = document.getElementById(id);
    const box = modal.querySelector("div");
    box.classList.remove("animate-popup");
    box.classList.add("animate-popdown");

    setTimeout(() => modal.classList.add("hidden"), 120);
  }

  function outsideClose(e, id) {
    if (e.target.id === id) closeModal(id);
  }

  async function openShareFileModal(event, modalId) {
    const modal = document.getElementById(modalId);

    const form = modal.querySelector("form");
    const linkBox = modal.querySelector(".file-share-box");
    const expireBox = modal.querySelector(".file-expire-box");
    const btn = modal.querySelector("#share-submit-btn");
    const expiryInput = modal.querySelector("#file-share-input");
    modal.querySelector(".modal-errors").innerHTML = "";

    const fileCard = event.target.closest(".file-card");
    const fileId = fileCard.dataset.id;

    const res = await fetch(`/files/${fileId}/share`, {
      method: "GET",
      headers: { "Content-Type": "application/json" },
    });
    const data = await res.json();

    if (!res.ok) {
      showModalErrors("modal-file-share", data.errors);
    }

    if (data.token) {
      fileCard.dataset.shareUrl = data.shareUrl;
    } else {
      fileCard.dataset.shareUrl = "";
    }

    console.log(data);

    const shareUrl = fileCard.dataset.shareUrl ?? null;

    form.reset();
    form.dataset.fileId = fileId;
    form.dataset.hasShareLink = shareUrl ? "true" : "false";

    if (shareUrl) {
      linkBox.textContent = shareUrl;
      expireBox.textContent = data.expiresAt;
      btn.textContent = "Revoke";
      expiryInput.disabled = true;
    } else {
      linkBox.textContent = "—";
      expireBox.textContent = "—";
      btn.textContent = "Create";
      expiryInput.disabled = false;
    }

    openModal(modalId);
  }

  async function openShareFolderModal(event, modalId) {
    const modal = document.getElementById(modalId);

    const form = modal.querySelector("form");
    const linkBox = modal.querySelector(".folder-share-box");
    const expireBox = modal.querySelector(".folder-expire-box");
    const btn = modal.querySelector("#share-submit-btn");
    const expiryInput = modal.querySelector("#folder-share-input");
    modal.querySelector(".modal-errors").innerHTML = "";

    const folderCard = event.target.closest(".folder-card");
    const folderId = folderCard.dataset.id;
    // console.log(folderId);

    const res = await fetch(`/folders/${folderId}/share`, {
      method: "GET",
      headers: { "Content-Type": "application/json" },
    });
    const data = await res.json();

    if (!res.ok) {
      showModalErrors("modal-folder-share", data.errors);
    }

    console.log(data);

    if (data.token) {
      folderCard.dataset.shareUrl = data.shareUrl;
    } else {
      folderCard.dataset.shareUrl = "";
    }

    const shareUrl = folderCard.dataset.shareUrl ?? null;

    form.reset();
    form.dataset.folderId = folderId;
    form.dataset.hasShareLink = shareUrl ? "true" : "false";

    if (shareUrl) {
      linkBox.textContent = shareUrl;
      expireBox.textContent = data.expiresAt;
      btn.textContent = "Revoke";
      expiryInput.disabled = true;
    } else {
      linkBox.textContent = "—";
      expireBox.textContent = "—";
      btn.textContent = "Create";
      expiryInput.disabled = false;
    }

    openModal(modalId);
  }

  async function openFolderEditModal(event, modalId) {
    const modal = document.getElementById(modalId);
    const form = modal.querySelector("#modal-folder-edit-form");
    const nameInput = form.querySelector("input[name='name']");
    const moveSelect = form.querySelector("#folder-move-select");

    const folderCard = event.target.closest(".folder-card");
    const folderId = folderCard.dataset.id;
    const folderName = folderCard.dataset.name;
    const folderParentId = folderCard.dataset.parent;

    // Reset old values
    form.reset();
    moveSelect.innerHTML = "";

    // Fetch all folders for dropdown
    const res = await fetch(
      `/folders/details?excludeDescendantsOf=${folderId}`
    );
    if (!res.ok) {
      throw new Error("Failed to fetch folders");
    }
    const { result } = await res.json();

    // Populate dropdown
    result.forEach((folder) => {
      const opt = document.createElement("option");
      opt.value = folder.id;
      opt.textContent = folder.name;
      moveSelect.appendChild(opt);
    });

    // Set Existing Value
    nameInput.value = folderName;
    moveSelect.value = folderParentId ?? "";

    // Attach folder id to form (for PUT request later)
    form.dataset.folderId = folderId;
    openModal(modalId);
  }

  async function openFileInfoModal(event, modalId) {
    const modal = document.getElementById(modalId);
    const errorBox = modal.querySelector(".modal-errors");
    const fileInfoName = modal.querySelector("#file-info-name");
    const fileInfoSize = modal.querySelector("#file-info-size");
    const fileInfoMime = modal.querySelector("#file-info-mime");
    const fileInfoCreated = modal.querySelector("#file-info-created");
    const fileInfoUpdated = modal.querySelector("#file-info-updated");
    const fileInfoShare = modal.querySelector("#file-info-share");
    const newFileCard = modal.querySelector(".file-card");
    const downloadLink = modal.querySelector(".download-link");

    const fileCard = event.target.closest(".file-card");
    const fileId = fileCard.dataset.id;
    const fileName = fileCard.dataset.name;
    const fileFolderId = fileCard.dataset.folder;

    errorBox.innerHTML = "";

    // console.log(fileId);

    const res = await fetch(`/files/${fileId}`);
    const data = await res.json();

    // console.log(data);

    openModal(modalId);

    if (!res.ok) {
      return showModalErrors("modal-file-info", data.errors);
    }

    const { file } = data;
    newFileCard.dataset.id = file.id;
    newFileCard.dataset.name = file.nameWithoutExt;
    newFileCard.dataset.folder = file.folderId ?? "";
    downloadLink.href = `/files/${file.id}/download`;

    fileInfoName.textContent = file.nameWithoutExt;
    fileInfoSize.textContent = bytesToMb(Number(file.size));
    fileInfoMime.textContent = file.mimeType;
    fileInfoCreated.textContent = dateToString(String(file.createdAt));
    fileInfoUpdated.textContent = dateToString(String(file.updatedAt));
    fileInfoShare.textContent = file.shareUrl ? file.shareUrl : "-----";
  }

  async function openFileEditModal(event, modalId) {
    const modal = document.getElementById(modalId);
    const errorBox = modal.querySelector(".modal-errors");
    const form = modal.querySelector("#modal-file-edit-form");
    const nameInput = form.querySelector("input[name='name']");
    const moveSelect = form.querySelector("#file-move-select");

    const fileCard = event.target.closest(".file-card");
    const fileId = fileCard.dataset.id;
    const fileName = fileCard.dataset.name;
    const fileFolderId = fileCard.dataset.folder;

    // Reset old values
    form.reset();
    moveSelect.innerHTML = "";
    errorBox.innerHTML = "";

    // Fetch all folders for dropdown
    const res = await fetch(`/folders/details`);
    if (!res.ok) {
      throw new Error("Failed to fetch folders");
    }
    const { result } = await res.json();

    // Populate dropdown
    result.forEach((folder) => {
      const opt = document.createElement("option");
      opt.value = folder.id;
      opt.textContent = folder.name;
      moveSelect.appendChild(opt);
    });

    // Set Existing Value
    nameInput.value = fileName;
    moveSelect.value = fileFolderId ?? "";

    // Attach file id to form (for PUT request later)
    form.dataset.fileId = fileId;
    openModal(modalId);
  }

  function openDeleteModal(event, modalId) {
    const modal = document.getElementById(modalId);

    let card;
    switch (modalId) {
      case "modal-folder-delete":
        card = event.target.closest(".folder-card");
        // const parentId = card.dataset.parent;
        break;
      case "modal-file-delete":
        card = event.target.closest(".file-card");
        // const folderId = card.dataset.folder;
        break;
      default:
        break;
    }

    const id = card.dataset.id;
    // const name = card.dataset.name;

    modal.dataset.id = id;
    openModal(modalId);
  }

  async function submitUploadFile(event) {
    event.preventDefault();

    const form = event.target;
    const folderId = form.dataset.folder;
    console.log("folder ID: ", folderId);

    let url;
    if (!folderId || isNaN(Number(folderId))) {
      url = "/files/upload";
    } else {
      url = `/files/upload/${folderId}`;
    }

    const payload = new FormData(event.target);

    for (let p of payload.entries()) console.log(p);

    try {
      const res = await fetch(url, {
        method: "POST",
        body: payload,
      });
      console.log(res);
      const data = await res.json();
      console.log(data);
      if (!res.ok) {
        return showModalErrors("modal-file-upload-form", data.errors);
      }

      closeModal("modal-file-upload-form");
      location.reload();
    } catch (err) {
      console.error(err);
      alert("Upload failed.");
    }
  }

  async function submitEditFolder(event) {
    event.preventDefault();

    const form = event.target;
    const folderId = form.dataset.folderId;

    const payload = {
      name: form.name.value.trim(),
      parentId: form.move.value || null,
    };

    // console.log(payload.parentId);

    try {
      const res = await fetch(`/folders/${folderId}/edit`, {
        method: "PUT",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(payload),
      });

      if (!res.ok) throw new Error("Failed to update folder.");

      closeModal("modal-folder-edit");
      location.reload();
    } catch (err) {
      res.status(500).json({ error: "Internal server error" });
    }
  }

  async function submitEditFile(event) {
    event.preventDefault();

    const form = event.target;
    const fileId = form.dataset.fileId;

    const payload = {
      name: form.name.value.trim(),
      folderId: form.move.value || null,
    };

    try {
      const res = await fetch(`/files/${fileId}/edit`, {
        method: "PUT",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(payload),
      });

      const data = await res.json();

      if (!res.ok) {
        //Show server validation erros inside modal
        return showModalErrors("modal-file-edit", data.errors);
      }

      closeModal("modal-file-edit");
      location.reload();
    } catch (err) {
      alert("Unexpected error occurred. Try again.");
    }
  }

  async function submitDeleteFolder(event) {
    const modal = event.target.closest(".modal-card");
    const folderId = modal.dataset.id;

    try {
      const res = await fetch(`/folders/${folderId}/delete`, {
        method: "DELETE",
      });

      const data = await res.json();

      if (!data.success || !res.ok) {
        throw new Error("Failed to delete folder.");
      }

      closeModal("modal-folder-delete");
      alert(`Successfully deleted ${data.folder.name}`);
      location.reload();
    } catch (err) {
      alert("Internal error deleting folder.");
    }
  }

  async function submitDeleteFile(event) {
    const modal = event.target.closest(".modal-card");
    const fileId = modal.dataset.id;

    try {
      const res = await fetch(`/files/${fileId}/delete`, {
        method: "DELETE",
      });

      const data = await res.json();
      if (!data.success || !res.ok) {
        throw new Error("Failed to delete file.");
      }

      closeModal("modal-file-delete");
      alert(`Successfully deleted ${data.file.originalName}`);
      location.reload();
    } catch (err) {
      alert("Internal error deleting file.");
    }
  }

  async function submitShareFile(event) {
    event.preventDefault();

    const form = event.target;
    const modal = form.closest(".modal-card");

    const shareBox = modal.querySelector(".file-share-box");
    const expireBox = modal.querySelector(".file-expire-box");
    const submitBtn = modal.querySelector("#share-submit-btn");
    const expiryInput = form.querySelector("input[name='shareTime']");

    const fileId = form.dataset.fileId;
    const hasShareLink = form.dataset.hasShareLink === "true";
    const url = `/files/${fileId}/share`;

    let options = {
      method: hasShareLink ? "DELETE" : "POST",
      headers: { "Content-Type": "application/json" },
    };

    if (!hasShareLink) {
      options.body = JSON.stringify({
        shareTime: Number(expiryInput.value),
      });
    }

    let res, data;

    try {
      res = await fetch(url, options);
      data = await res.json();
    } catch (err) {
      showModalErrors("modal-file-share", ["Network error"]);
      return;
    }

    if (!res.ok) {
      showModalErrors(
        "modal-file-share",
        data.errors || ["Something went wrong"]
      );
      return;
    }

    if (hasShareLink) {
      form.dataset.hasShareLink = "false";
      shareBox.textContent = "—";
      expireBox.textContent = "—";
      submitBtn.textContent = "Create";
      expiryInput.disabled = false;
    } else {
      form.dataset.hasShareLink = "true";
      shareBox.textContent = data.shareUrl;
      expireBox.textContent = data.expiresAt;
      submitBtn.textContent = "Revoke";
      expiryInput.disabled = true;
    }
  }

  async function submitShareFolder(event) {
    event.preventDefault();

    const form = event.target;
    const modal = form.closest(".modal-card");

    const shareBox = modal.querySelector(".folder-share-box");
    const expireBox = modal.querySelector(".folder-expire-box");
    const submitBtn = modal.querySelector("#share-submit-btn");
    const expiryInput = form.querySelector("input[name='shareTime']");

    const folderId = form.dataset.folderId;
    const hasShareLink = form.dataset.hasShareLink === "true";
    const url = `/folders/${folderId}/share`;

    let options = {
      method: hasShareLink ? "DELETE" : "POST",
      headers: { "Content-Type": "application/json" },
    };

    if (!hasShareLink) {
      options.body = JSON.stringify({
        shareTime: Number(expiryInput.value),
      });
    }

    let res, data;

    try {
      res = await fetch(url, options);
      data = await res.json();
    } catch (err) {
      showModalErrors("modal-folder-share", ["Network error"]);
      return;
    }

    if (!res.ok) {
      showModalErrors(
        "modal-folder-share",
        data.errors || ["Something went wrong"]
      );
      return;
    }

    if (hasShareLink) {
      form.dataset.hasShareLink = "false";
      shareBox.textContent = "—";
      expireBox.textContent = "—";
      submitBtn.textContent = "Create";
      expiryInput.disabled = false;
    } else {
      form.dataset.hasShareLink = "true";
      shareBox.textContent = data.shareUrl;
      expireBox.textContent = data.expiresAt;
      submitBtn.textContent = "Revoke";
      expiryInput.disabled = true;
    }
  }
</script>
